<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

        <title>Stock Price Analysis</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/" id="logo"><img src="/static/images/market.jpg" alt=""
                    style="padding-left:10px;width:100px;height:100px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel-body">
                        <form action="/prediction" method="post"></form>
                        <form action="{{ url_for('prediction') }}" method="post">
                            <label>Board Game Ranking Prediction:
                                <p>
                                <p></p>
                                <input type="text" name="minplayers" placeholder="Min Players">
                                <p>
                                <p></p>
                                <input type="text" name="maxplayers" placeholder="Max Players">
                                <p>
                                <p></p>
                                <input type="text" name="minplaytime" placeholder="Min Playtime">
                                <p>
                                <p></p>
                                <input type="text" name="maxplaytime" placeholder="Max Playtime">
                                <p>
                                <p></p>
                                <input type="text" name="minage" placeholder="Min age">
                                <p>
                                <p></p>
                                <input type="submit">
                        </form>
                    </div>
                </div>

                <div class="col-md-8">
                    <h3 style="text-align: center;">PREDICTION</h3>
                    For Machine Learning, we use
                    <a
                        href="https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html">sklearn
                        Linear</a> & <a
                        href="https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html">Randomforest</a>

                    <p></p>
                    <b>Independent variables:</b> Min/Max Players, Min/Max Playtime, Min age<p>
                    <p></p>
                    <b>Dependent variable:</b> Ranking
                    <p></p>
                    Min Players: &nbsp;&nbsp; {{ predict_list[0] }}
                    <br>
                    Max Players: &nbsp;&nbsp; {{ predict_list[1] }}
                    <br>
                    Min Playtime: &nbsp;&nbsp; {{ predict_list[2] }}
                    <br>
                    Max Playtime: &nbsp;&nbsp; {{ predict_list[3] }}
                    <br>
                    Min age: &nbsp;&nbsp; {{ predict_list[4] }}
                    <p></p>
                    LinModel prediction: &nbsp;&nbsp; {{ predict_list[5] }}
                    <p></p>
                    RF prediction: &nbsp;&nbsp; {{ predict_list[6] }}

                </div>
                <p></p>
                &nbsp&nbsp
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="text-align: center;color:blue;">{{ message }}</h2>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
                integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
                integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
                crossorigin="anonymous"></script>

            <!-- <script src="../static/js/stock.js?n=1"></script> -->
    </body>

</html>